:root {
  .title-31SJ6t {
    background-color: var(--background-primary);

    .children-3xh0VB::after { 
      background: -webkit-gradient(linear,left top,right top,from(rgba(54,57,63,0)),to(var(--background-primary)));
    }
  }

  // Removing help buttons
  .toolbar-3_r2xA > [href="https://support.discord.com"]:last-child, .searchLearnMore-1gNL3A
  {
    display: none;
  }

  // -- Search bar part --
  .search-39IXmY {
    order: 1;
    margin-left: 0;

    .focused-1xh-wG .searchBar-jGtisZ,
    .open-1F8u2c .searchBar-jGtisZ {
      width: 320px;
      border-radius: var(--border-radius);
    }
